body {
  background-image: url("../data/images/logo_lebonretro.jpg");
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  color: white;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.lien {
  text-decoration: none;
}

.lien h2 {
  color: #303030;
}

.prix {
  color: #FF8C00;
  font-size: 25px;
  font-weight: bold;
}

.lien:visited
{
    color: black;
    text-decoration: none;
}

.choix_tri {
  display: inline-block;
  margin-right: 20px;
}

li a:hover {
  background-color: #111;
}

h1 {
  text-align: center;
  font-family: 'Mali', cursive;
  font-size: 50px;
}

h1 a{
  text-decoration: none;
}

li .deconnexion {
  color: white;
  text-align: center;
  padding: 12px;
  cursor: pointer;
  background-color: #333;
  font-size: 16px;
  border: none;
}

li .deconnexion:hover {
  background-color: #111;
}

article {
  border : 2px solid black;
  width : 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  overflow: hidden;
  padding: 1em;
  margin-bottom: 3em;
}

article strong {
  font-size: 20px;
}

article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
  padding-right: 1em;
}

.annonce {
  width : 50%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.formulaire_article_choix {
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 10px;
}

.annonce img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height : 300px;
  border : 1px solid black;
}

.intro {
  background-color: white;
}

.intro p {
  font-family: 'Mali', cursive;
  line-height: 1.6;
  width: 70%;
  margin: auto;
}

.intro img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
